<div *ngIf="tasks" class="container--list-task">
  <ng-container *ngIf="!loadingState; else spinner">
    <app-add-tasks (itemAdded)="itemAddedFromModal($event)"></app-add-tasks>
    <div *ngFor="let item of tasks; let index = index">
      <div class="card">
        <app-tasks
          [task]="item"
          (tasksUpdate)="updateStatusTask($event)"
        ></app-tasks>
      </div>
    </div>
    <p-toast></p-toast>
  </ng-container>
  <ng-template #spinner>
    <div class="container-spinner">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>
</div>
