<form (ngSubmit)="submit()" [formGroup]="form" class="form">
  <div class="item">
    <label htmlFor="title">Title</label>
    <input formControlName="title" pInputText />
  </div>
  <div class="item">
    <label htmlFor="content">Content</label>
    <input formControlName="name" pInputText />
  </div>
  <div class="item--check">
    <p-checkbox formControlName="finished" [binary]="true"></p-checkbox>
    <label htmlFor="finished">Finished</label>
  </div>
  <div class="container-btn">
    <button
      label="Cancel"
      pButton
      class="p-button-text"
      (click)="back()"
    ></button>
    <button
      label="Submit"
      pButton
      type="submit"
      [disabled]="
        (!this.form.get('title')?.value ||
          this.form.get('title')?.value === this.dataFromModal?.title) &&
        (!this.form.get('name')?.value ||
          this.form.get('name')?.value === this.dataFromModal?.name)
      "
      [loading]="loadingState"
    ></button>
  </div>
</form>
